body {
    background-color: #000000;
    text-align: center;
    font-family: 'Inclusive Sans', sans-serif;
}

nav {
    font-family: 'Inclusive Sans', sans-serif;
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 10px 0;
}

nav button {
    color: #000000;
    background-color: wheat;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-weight: 600; 
    font-size: 0.95rem;
    cursor: pointer;

    height: 5vh;
    min-width: 120px; 
    
    transition: all 0.2s ease;
}

nav button:hover {
    border: 2px solid #ffffff;

}

nav button:active {
    background-color: #000000;
    color: wheat;
}

.name-main {
    color: wheat;
    margin-top: 16px;

}

.profile-main img {
    width: 250px;
    height: 250px;
    object-fit: cover; 
    border-radius: 50%; 
    padding: 10px;
    border: 8px solid #ffffff;
    transition: border 0.2s ease-in-out;
    transition: all.2s ease-in-out;
}

.profile-main img:hover {
    border-radius: 25%;
    box-shadow: 0 0 12px #ffffff; 

}

